<!-- Static navbar -->
<div class="jumbotron">
  <h1>商業智慧管理研究發展中心</h1>
  <p>Business Intelligence Management Research and Development Center</p>
</div>
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "公告", root_path %></li>
      <li><%= link_to "實驗室簡介", intro_path %></li>
      <li><a href="#">指導教授</a></li>
      <li><a href="#">實驗室成員</a></li>
    </ul>
  </div>
</div>