<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">最新消息</h3>
      </div>
      <div class="panel-body">
        <ul class="news">
          <li>狂賀~ 翁頌舜教授指導李佳馨學姊榮獲 2013 TOPCO 崇越論文大賞優等!</li>
          <li>Lab 說明會 2009/09/14 科技大樓 635 AM10:00</li>
        </ul>
      </div>
    </div>
  <div>
</div>