<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">宗旨</h3>
      </div>
      <div class="panel-body">
        <p>
        本實驗室中心的宗旨在於提昇國內商業智慧管理的學術與實務水準，在理念上主張理論與實務並重，務求學術研究和專業訓練間的均衡發展，且將本著社會整體需求，力求資源整合，結合理論與實務，以培育商業智慧技術專業人才。
        </p>
      </div>
    </div>
  <div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">研究方向</h3>
      </div>
      <div class="panel-body">
        <ul class="research-area">
          <li>商業智慧管理</li>
          <li>顧客關係管理</li>
          <li>資料倉儲</li>
          <li>知識管理</li>
          <li>服務科學</li>
          <li>電子商務應用</li>
          <li>行動商務應用</li>
        </ul>
      </div>
    </div>
  <div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">設備</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
              <td>投影機</td>
              <td>電腦主機</td>
              <td>筆記型電腦</td>
              <td>雷射印表機</td>
              <td>噴墨印表機</td>
            </tr>
            <tr>
              <td>1</td>
              <td>8</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div>
</div>