<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">個人資料</h3>
      </div>
      <div class="panel-body">
        <img src="assets/wen.jpg" alt="Professor Image" class="img-thumbnail">
        <div class="personal-info col-md-9">
          <table class="table personal-info">
            <tr><th>姓名：</th><td>翁頌舜</td></tr>
            <tr><th>職稱：</th><td>教授</td></tr>
            <tr><th>學歷：</th><td>美國西北大學 資訊科學博士</td></tr>
            <tr><th>研究領域：</th><td>智慧型資訊檢索、顧客關係管理、商業智慧管理、資料採礦</td></tr>
            <tr><th>研究室：</th><td>科技大樓 431</td></tr>
            <tr><th>E-mail：</th><td>wengss@ntut.edu.tw</td></tr>
          </table>
        </div>
      </div>
    </div>
  <div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">學術著作與目錄</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  <div>
</div>