<% if post.link.blank? %>
  <li><%= post.title %> | <%= link_to("刪除", destroy_post_path(post), :class => "btn btn-danger btn-xs", method: :delete) if admin_signed_in? %></li>
<% else %>
  <li><%= link_to post.title, post.link, target: "_blank" %> | <%= link_to("刪除", destroy_post_path(post), :class => "btn btn-danger btn-xs", method: :delete) if admin_signed_in? %></li>
<% end %>